<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293676941667-3kieu5f7eq8ddah5ovhlbgjemi6sbvcf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293676941667-3kieu5f7eq8ddah5ovhlbgjemi6sbvcf</string>
	<key>API_KEY</key>
	<string>AIzaSyABfbEwwEg7TJvUBZBI3gks2lcuWnt9k3o</string>
	<key>GCM_SENDER_ID</key>
	<string>293676941667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mtscloud.FirbaseBootcamp</string>
	<key>PROJECT_ID</key>
	<string>fir-bootcamp-67dc0</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-bootcamp-67dc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293676941667:ios:ef89d2447e9324b2e29356</string>
</dict>
</plist>